[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "bundle/vim-coffe-script"]
	path = bundle/vim-coffe-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/velocity"]
	path = bundle/velocity
	url = https://github.com/vim-scripts/velocity.vim.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/vim-scripts/colorizer.git
[submodule "bundle/molly"]
	path = bundle/molly
	url = https://github.com/vim-scripts/molly.vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "bundle/preview"]
	path = bundle/preview
	url = https://github.com/vim-scripts/preview.git
[submodule "bundle/pairtools"]
	path = bundle/pairtools
	url = https://github.com/vim-scripts/PairTools.git
[submodule "bundle/functiontracker"]
	path = bundle/functiontracker
	url = https://github.com/vim-scripts/functiontracker.vim.git
